adal==1.2.2
adblockparser==0.7
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.12
aniso8601==8.1.1
antlr4-python3-runtime==4.9.1
appdirs==1.4.4
applicationinsights==0.11.9
argcomplete==1.8.1
asgiref==3.7.2
asn1crypto==1.4.0
async-timeout==4.0.2
attrs==22.2.0
azure-mgmt-app==1.0.0b2
azure-mgmt-appconfiguration==2.2.0
azure-mgmt-appcontainers==2.0.0b1
azure-mgmt-applicationinsights==3.1.0
azure-mgmt-appplatform==7.1.0
azure-mgmt-attestation==2.0.0b1
azure-mgmt-authorization==3.0.0
azure-mgmt-automanage==1.0.0
azure-mgmt-automation==1.1.0b2
azure-mgmt-avs==7.1.0
azure-mgmt-azureadb2c==1.0.0b1
azure-mgmt-azurearcdata==1.0.0
azure-mgmt-azurestack==1.0.0
azure-mgmt-azurestackhci==7.0.0
azure-mgmt-baremetalinfrastructure==1.0.0
azure-mgmt-batch==16.2.0
azure-mgmt-batchai==7.0.0b1
azure-mgmt-billing==6.0.0
azure-mgmt-botservice==2.0.0b3
azure-mgmt-cdn==12.1.0b1
azure-mgmt-changeanalysis==1.0.0
azure-mgmt-chaos==1.0.0b5
azure-mgmt-cognitiveservices==13.3.0
azure-mgmt-commerce==6.0.0
azure-mgmt-communication==2.0.0b1
azure-mgmt-compute==29.0.0
azure-mgmt-confidentialledger==1.0.0
azure-mgmt-confluent==2.0.0b1
azure-mgmt-connectedvmware==1.0.0b2
azure-mgmt-consumption==10.0.0
azure-mgmt-containerinstance==10.0.0
azure-mgmt-containerregistry==10.0.0
azure-mgmt-containerservice==20.6.0
azure-mgmt-core==1.3.2
azure-mgmt-cosmosdb==9.0.0b2
azure-mgmt-costmanagement==3.0.0
azure-mgmt-customproviders==1.1.0b1
azure-mgmt-dashboard==1.0.0
azure-mgmt-databox==1.0.0
azure-mgmt-databoxedge==1.0.0
azure-mgmt-databricks==1.1.0b1
azure-mgmt-datadog==2.0.0
azure-mgmt-datafactory==2.9.0
azure-mgmt-datalake-analytics==1.0.0b1
azure-mgmt-datalake-store==1.0.0
azure-mgmt-datamigration==10.0.0
azure-mgmt-dataprotection==1.0.0b2
azure-mgmt-datashare==1.1.0b1
azure-mgmt-deploymentmanager==1.0.0
azure-mgmt-desktopvirtualization==1.0.0b1
azure-mgmt-devcenter==1.0.0b2
azure-mgmt-deviceupdate==1.0.0
azure-mgmt-devspaces==1.0.0b1
azure-mgmt-devtestlabs==10.0.0b1
azure-mgmt-digitaltwins==6.2.0
azure-mgmt-dns==8.0.0
azure-mgmt-dnsresolver==1.0.0
azure-mgmt-documentdb==0.1.3
azure-mgmt-dynatrace==1.0.0
azure-mgmt-edgegateway==0.1.0
azure-mgmt-edgeorder==1.0.0
azure-mgmt-education==1.0.0b1
azure-mgmt-elastic==1.0.0
azure-mgmt-elasticsan==1.0.0b1
azure-mgmt-eventgrid==10.2.0
azure-mgmt-eventhub==10.1.0
azure-mgmt-extendedlocation==1.1.0
azure-mgmt-fluidrelay==1.0.0
azure-mgmt-frontdoor==1.0.1
azure-mgmt-guestconfig==1.0.0b1
azure-mgmt-hanaonazure==1.1.0b1
azure-mgmt-hdinsight==9.0.0
azure-mgmt-healthbot==1.0.0b2
azure-mgmt-healthcareapis==1.1.0
azure-mgmt-hybridcompute==7.0.0
azure-mgmt-hybridkubernetes==1.1.0
azure-mgmt-hybridnetwork==1.0.0
azure-mgmt-imagebuilder==1.1.0
azure-mgmt-iotcentral==10.0.0b1
azure-mgmt-iothub==2.3.0
azure-mgmt-iothubprovisioningservices==1.1.0
azure-mgmt-keyvault==10.1.0
azure-mgmt-kubernetesconfiguration==2.0.0
azure-mgmt-kusto==3.0.0
azure-mgmt-labservices==2.0.0
azure-mgmt-loadtestservice==1.0.0
azure-mgmt-loganalytics==13.0.0b5
azure-mgmt-logic==10.0.0
azure-mgmt-logz==1.0.0
azure-mgmt-machinelearningcompute==1.0.0b1
azure-mgmt-machinelearningservices==1.0.0
azure-mgmt-maintenance==2.1.0b1
azure-mgmt-managedservices==7.0.0b1
azure-mgmt-managementgroups==1.0.0
azure-mgmt-managementpartner==1.0.0
azure-mgmt-maps==2.0.0
azure-mgmt-marketplaceordering==1.2.0b1
azure-mgmt-media==10.1.0
azure-mgmt-mixedreality==1.0.0
azure-mgmt-mobilenetwork==1.0.0b3
azure-mgmt-monitor==5.0.1
azure-mgmt-msi==6.1.0
azure-mgmt-netapp==9.0.1
azure-mgmt-network==22.1.0
azure-mgmt-nginx==2.0.0
azure-mgmt-notificationhubs==8.0.0
azure-mgmt-oep==1.0.0b1
azure-mgmt-operationsmanagement==2.0.0b1
azure-mgmt-orbital==1.0.0
azure-mgmt-peering==1.0.0
azure-mgmt-policyinsights==1.1.0b3
azure-mgmt-portal==1.0.0
azure-mgmt-powerbidedicated==1.1.0b1
azure-mgmt-powerbiembedded==2.0.0
azure-mgmt-privatedns==1.1.0b1
azure-mgmt-purview==1.0.0
azure-mgmt-quantum==1.0.0b2
azure-mgmt-quota==1.0.0b2
azure-mgmt-rdbms==10.2.0b3
azure-mgmt-recoveryservices==2.1.0
azure-mgmt-recoveryservicesbackup==5.1.0b2
azure-mgmt-recoveryservicessiterecovery==1.0.0b1
azure-mgmt-redhatopenshift==1.1.0
azure-mgmt-redis==14.1.0
azure-mgmt-redisenterprise==2.0.0
azure-mgmt-regionmove==1.0.0b1
azure-mgmt-relay==1.1.0
azure-mgmt-reservations==2.1.0
azure-mgmt-resource==21.2.1
azure-mgmt-resourceconnector==1.0.0b2
azure-mgmt-resourcegraph==8.1.0b2
azure-mgmt-resourcehealth==1.0.0b1
azure-mgmt-resourcemover==1.1.0b2
azure-mgmt-scheduler==7.0.0b1
azure-mgmt-scvmm==1.0.0b1
azure-mgmt-search==9.0.0b1
azure-mgmt-security==2.0.0
azure-mgmt-securitydevops==1.0.0b1
azure-mgmt-securityinsight==2.0.0b1
azure-mgmt-serialconsole==1.0.0
azure-mgmt-servermanager==2.0.0
azure-mgmt-servicebus==8.1.0
azure-mgmt-servicefabric==2.0.0
azure-mgmt-servicefabricmanagedclusters==2.0.0b2
azure-mgmt-servicelinker==1.1.0
azure-mgmt-signalr==1.1.0
azure-mgmt-sql==4.0.0b4
azure-mgmt-sqlvirtualmachine==1.0.0b4
azure-mgmt-storage==20.1.0
azure-mgmt-storagecache==1.3.0
azure-mgmt-storageimportexport==1.0.0b1
azure-mgmt-storagepool==1.0.0
azure-mgmt-storagesync==2.0.0b1
azure-mgmt-streamanalytics==1.0.0
azure-mgmt-subscription==3.1.1
azure-mgmt-support==6.1.0b1
azure-mgmt-synapse==2.1.0b5
azure-mgmt-testbase==1.0.0b1
azure-mgmt-timeseriesinsights==2.0.0b1
azure-mgmt-trafficmanager==1.0.0
azure-mgmt-videoanalyzer==1.0.0b4
azure-mgmt-vmwarecloudsimple==1.0.0b1
azure-mgmt-web==7.0.0
azure-mgmt-webpubsub==1.0.0
azure-mgmt-workloadmonitor==1.0.0b3
azure-mgmt-workloads==1.0.0b1
azure-mixedreality-remoterendering==1.0.0b2
azure-monitor-opentelemetry-exporter==1.0.0b9
azure-multiapi-storage==0.10.0
azure-schemaregistry==1.2.0
azure-search-documents==11.4.0b2
azure-servicebus==7.8.2
azure-servicefabric==8.2.0.0
azure-servicemanagement-legacy==0.20.7
azure-synapse==0.1.1
logutils==0.3.3
lxml==4.9.2
Mako==1.1.3
MarkupSafe==2.1.2
marshmallow==3.15.0
matplotlib==3.6.3
maxminddb==2.1.0
mechanize==0.4.5
mistune==0.8.4
more-itertools==4.2.0
msal==1.20.0
msal-extensions==1.0.0
msgpack==1.0.3
msrest==0.6.21
msrestazure==0.6.2
multidict==6.0.4
mutagen==1.45.1
natsort==7.1.0
netaddr==0.7.19
netifaces==0.11.0
networkx==2.5
nose==1.3.7
numpy==1.24.2
nyx==2.1.0
oauthlib==3.1.0
olefile==0.46
openpyxl==3.1.2
ospd-openvas==21.4.4
packaging==20.9
pandas==2.2.1
paramiko==2.7.2
parso==0.8.1
pefile==2019.4.18
pexpect==4.8.0
phonenumbers==8.12.1
pickleshare==0.7.5
Pillow==9.4.0
pkginfo==1.4.2
pluginbase==1.0.0
ply==3.11
portalocker==2.2.1
prettytable==0.7.2
prompt-toolkit==3.0.14
psutil==5.9.4
psycopg2==2.9.5
pyasn1==0.4.8
pycairo==1.20.1
pycparser==2.20
pycryptodomex==3.11.0
pydot==1.4.2
pyenchant==3.2.0
pygeoip==0.3.2
Pygments==2.14.0
pygraphviz==1.7
pyinotify==0.9.6
PyJWT==2.1.0
pymongo==3.11.0
pymssql==2.2.2
PyMySQL==0.9.3
PyNaCl==1.5.0
pynvim==0.4.2
pyodbc==4.0.34
PyOpenGL==3.1.5
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyPDF2==1.26.0
PyQt5==5.15.9
PyQt5-sip==12.11.1
pyqtgraph==0.11.1
pyrsistent==0.18.1
pyrtlsdr==0.2.91
pyserial==3.5
PySimpleSOAP==1.16.2
pysmi==0.3.2
pysnmp==4.4.12
python-dateutil==2.8.2
python-debian==0.1.39
python-debianbts==3.1.0
python-docx==0.8.10
python-dotenv==0.15.0
python-gvm==21.11.0
python-Levenshtein==0.12.2
python-libnmap==0.7.2
python-memcached==1.58
python-pptx==0.6.18
python-xlib==0.29
pythran==0.11.0
pytz==2021.1
pyusb==1.0.2
pyxdg==0.27
PyYAML==6.0
qrcode==6.1
redis==3.5.3
reportlab==4.1.0
repoze.lru==0.7
requests==2.25.1
requests-futures==1.0.0
requests-oauthlib==1.0.0
requests-toolbelt==0.9.1
rfcat==1.9.5
roman==2.0.0
Routes==2.5.1
rq==1.7.0
rsa==4.0
S3Scanner==2.0.1
s3transfer==0.3.4
scapy==2.4.4
scikit-learn==1.4.1.post1
scipy==1.10.1
scour==0.38.2
scp==0.13.0
SecretStorage==3.3.1
secure==0.2.1
selenium==4.0.0a1
semver==2.10.2
setproctitle==1.3.1
shodan==1.25.0
simplejson==3.18.3
six==1.16.0
sniffio==1.1.0
snowballstemmer==2.2.0
soupsieve==2.2.1
sphinx==5.3.0
SQLAlchemy==1.4.46
sqlparse==0.4.4
sshtunnel==0.1.4
stem==1.8.0
sympy==1.11.1
tabulate==0.8.7
termcolor==1.1.0
terminaltables==3.1.0
threadpoolctl==3.3.0
tornado==6.2
torrequest==0.1.0
tqdm==4.57.0
traitlets==5.0.5
typing-extensions==4.4.0
tzdata==2024.1
uamqp==1.5.3
ufoLib2==0.14.0
unicodecsv==0.14.1
unicodedata2==15.0.0
urllib3==1.26.5
urwid==2.1.2
validators==0.14.2
visvis==1.13.0
wafw00f==2.1.0
wcwidth==0.1.9
webencodings==0.5.1
WebOb==1.8.6
websocket-client==0.57.0
Werkzeug==2.0.2
wfuzz==3.1.0
whois==0.8
wrapt==1.14.1
